@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = ViewBag.TitleName;
    List<OrderEntity> orderList = (List<OrderEntity>)ViewBag.OrderList;
    List<BaseDataEntity> PriceSetModel = ((List<BaseDataEntity>)ViewBag.PriceSetModel) ?? new List<BaseDataEntity>();

    List<StorageEntity> storages = (List<StorageEntity>)ViewBag.Storage;
    List<CarrierEntity> carriers = (List<CarrierEntity>)ViewBag.Carrier;
    List<CustomerEntity> customers = (List<CustomerEntity>)ViewBag.Customer;
    List<BaseDataEntity> CarrierModel = ((List<BaseDataEntity>)ViewBag.CarrierModel) ?? new List<BaseDataEntity>();
    List<BaseDataEntity> deliveryList = (List<BaseDataEntity>)ViewBag.DeliverList;//物流方式
    List<BaseDataEntity> temp = (List<BaseDataEntity>)ViewBag.TemList;//温度
    PagerInfo p = (PagerInfo)ViewBag.Pager;
}
<link href="~/source/assets/css/queryItem.css" rel="stylesheet" />
<link href="~/source/assets/css/comfirm.css" rel="stylesheet" />
<link href="~/source/assets/css/viewer.min.css" rel="stylesheet" />
<link href="~/source/assets/css/img.css" rel="stylesheet" />
<link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/source/assets/css/lctypein-alert.css" rel="stylesheet" />
<link href="~/source/layui/css/layui.css" rel="stylesheet" />
<style>
    #div_carriere_items {
        width: auto;
        min-width: 206px;
        height: 200px;
        border: 1px solid #66afe9;
        border-top: 0px;
        overflow: auto;
        display: none;
        position: absolute;
        background: #FFF;
    }
</style>
<div class="row-fluid">
    <h2 class="heading" style="margin-top:50px">运输计划</h2>
</div>
<div class="row-fluid">
    <div class="widget widget-padding span12">
        <div class="widget-header">
            <input type="hidden" id="HidUserID" name="HidUserID" value="@ViewBag.UserID" />
            <i class="icon-laptop"></i>
            <h5>运输计划</h5>
        </div>
        <div class="widget-body" style="margin-bottom:50px">
            <div id="menus_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row-fluid">
                    <div class="">
                        <form action="/Line/OrderDeliveryPlan" method="get">
                            <div class="dataTables_length" id="menus_filter">
                                <label>
                                    <input type="text" id="orderno" name="orderno" style="width:200px" value="@ViewBag.OrderNo" placeholder="订单号,收货方查询" />
                                </label>
                                <label>
                                    <select tabindex="1" class="" style="width:200px" id="storageid" name="storageid">
                                        <option value="">--请选择出库仓--</option>
                                        @foreach (var item in storages)
                                        {
                                            <option value="@item.StorageID" @(item.StorageID == ViewBag.storageid ? "selected" : "")>@item.StorageName</option>
                                        }
                                    </select>
                                </label>
                                <label>
                                    <select tabindex="1" class="" style="width: 200px" id="carrierid" name="carrierid">
                                        <option value="">--请选择承运商--</option>
                                        @foreach (var item in carriers)
                                        {
                                            <option value="@item.CarrierID" @(item.CarrierID == ViewBag.carrierid ? "selected" : "")>@item.CarrierName</option>
                                        }
                                    </select>
                                </label>
                                <label>
                                    <select tabindex="1" class="" style="width: 200px" id="customerid" name="customerid">
                                        <option value="">--请选择客户--</option>
                                        @foreach (var item in customers)
                                        {
                                            <option value="@item.CustomerID" @(item.CustomerID == ViewBag.customerid ? "selected" : "")>@item.CustomerName</option>
                                        }
                                    </select>
                                </label>
                                @*<label>
                    订单状态: <select class="span3" style="width:150px" id="status" name="status">
                        <option value="-1" @(ViewBag.Status == -1 ? "selected" : "")>全部</option>
                        <option value="1" @(ViewBag.Status == 1 ? "selected" : "")>可用</option>
                        <option value="0" @(ViewBag.Status == 0 ? "selected" : "")>不可用</option>
                    </select>
                </label>*@
                                <label>
                                    <select tabindex="1" class="" style="width: 65px" id="pageSize" name="pageSize">
                                        <option value="10" @(ViewBag.PageSize == 10 ? "selected" : "")>10条</option>
                                        <option value="20" @(ViewBag.PageSize == 20 ? "selected" : "")>20条</option>
                                        <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30条</option>
                                        <option value="40" @(ViewBag.PageSize == 40 ? "selected" : "")>40条</option>
                                        <option value="50" @(ViewBag.PageSize == 50 ? "selected" : "")>50条</option>
                                    </select>
                                </label>
                                <label>
                                    <input type="text" aria-controls="menus" class="layui-input" style="width:150px" placeholder="订单开始时间" id="begindate" value="@ViewBag.BeginDate" lay-key="1" autocomplete="off" name="begindate">
                                </label>
                                <label>
                                    <input type="text" aria-controls="menus" class="layui-input" style="width:150px" placeholder="订单结束时间" id="enddate" value="@ViewBag.EndDate" lay-key="2" autocomplete="off" name="enddate">
                                </label>
                                <button class="btn btn-info" type="submit" id="btn_submit">搜索</button>
                                <label>
                                    <input type="checkbox" id="chk_all" value="-1" />全选
                                </label>
                                <button class="btn btn-info" type="button" id="btn_OrderPlan">安排计划</button>
                            </div>
                        </form>
                    </div>
                </div>
                @if (orderList != null && orderList.Count > 0)
                {
                    <div class="lcQueryItem">
                        @foreach (OrderEntity entity in orderList)
                        {

                            <div class="lcItem" dataid="@entity.OrderID" storageid="23" style="background-color:#90ee902e">
                                @if (entity.OrderType.Equals("RKD"))
                                {
                                    <div class="lcItem_t">
                                        <div class="lcCheckDiv">
                                            <input type="checkbox" class="checkbox" name="chk_name" value="@(entity.OrderID+"-"+entity.OrderNo)" />
                                        </div>
                                        <div class="lcItem_t_l">
                                            <div class="lcDivList">
                                                <div>
                                                    <p>订单编号</p>
                                                    <h5>@entity.OrderNo</h5>
                                                </div>
                                                <div>
                                                    <p>入库时间</p>
                                                    <h5>@entity.OrderDate</h5>
                                                </div>
                                                <div>
                                                    <p>温区</p>
                                                    <h5>@entity.TempType</h5>
                                                </div>
                                            </div>


                                            <div class="lcDivList">
                                                <div title="@entity.contact.name">
                                                    <p>收货仓库</p>
                                                    <h5>@entity.contact.name</h5>
                                                </div>
                                                <div>
                                                    <p>收货人</p>
                                                    <h5>@entity.contact.contact</h5>
                                                </div>
                                                <div title="联系方式：@entity.contact.telephone">
                                                    <p>联系方式</p>
                                                    <h5>@entity.contact.telephone</h5>
                                                </div>
                                            </div>
                                            <div class="lcDivList">
                                                <div title="@entity.contact.address">
                                                    <p>仓库地址</p>
                                                    <h5>@entity.contact.address</h5>
                                                </div>
                                            </div>


                                            <div class="lcDivList">
                                                <div title="@entity.Remark">
                                                    <p>备注</p>
                                                    <h5>@entity.Remark</h5>
                                                </div>

                                                <div>
                                                    <p>订单属性</p>
                                                    <h5>@entity.OrderTypeDesc</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lcItem_t_r">
                                            <div class="lcItem_t_r_l">
                                                <div>
                                                    <p>订单归属</p>
                                                    <h5>@(entity.customer != null ? entity.customer.CustomerName : "")</h5>
                                                </div>
                                                <div>
                                                    <p>制单人</p>
                                                    <h5>@(entity.user != null ? entity.user.UserName : "")</h5>
                                                </div>
                                                <div title="2019-05-15 17:31:11">
                                                    <p>制单时间</p>
                                                    <h5>@entity.OrderDate</h5>
                                                </div>
                                            </div>
                                            <div class="lcItem_t_r_btnList" style="width: 270px;">
                                                <div class="showDiv" isok="true">
                                                    订单详情
                                                </div>
                                                @if (!string.IsNullOrEmpty(entity.AttachmentIDs))
                                                {
                                                <div class="查看回单" onclick="javascript:showImg('@entity.AttachmentIDs')">
                                                    查看回单
                                                </div>
                                                }
                                            </div>
                                        </div>
                                    </div>
                                }
                                else
                                {
                                    <div class="lcItem_t">
                                        <div class="lcCheckDiv">
                                            <input type="checkbox" class="checkbox" name="chk_name" value="@(entity.OrderID)" />
                                        </div>
                                        <div class="lcItem_t_l">
                                            <div class="lcDivList">
                                                <div>
                                                    <p>订单编号</p>
                                                    <h5>@entity.OrderNo</h5>
                                                </div>
                                                <div>
                                                    <p>下单时间</p>
                                                    <h5>@entity.OrderDate</h5>
                                                </div>
                                                <div>
                                                    <p>送货时间</p>
                                                    <h5>@entity.SendDate.ToShortDateString()</h5>
                                                </div>
                                            </div>


                                            <div class="lcDivList">
                                                <div title="@entity.contact.name">
                                                    <p>收货方</p>
                                                    <h5>@entity.contact.name</h5>
                                                </div>
                                                <div>
                                                    <p>收货人</p>
                                                    <h5>@entity.contact.contact</h5>
                                                </div>
                                                <div title="联系方式：@entity.contact.telephone">
                                                    <p>联系方式</p>
                                                    <h5>@entity.contact.telephone</h5>
                                                </div>
                                            </div>
                                            <div class="lcDivList">
                                                <div title="@entity.contact.address">
                                                    <p>配送地址</p>
                                                    <h5>@entity.contact.address</h5>
                                                </div>
                                                <div title="@entity.carrier.CarrierName">
                                                    <p>承运商</p>
                                                    <h5>@entity.carrier.CarrierName</h5>
                                                </div>
                                            </div>


                                            <div class="lcDivList">
                                                <div title="@entity.Remark">
                                                    <p>备注</p>
                                                    <h5>@entity.Remark</h5>
                                                </div>
                                                <div>
                                                    <p>温区</p>
                                                    <h5>@entity.TempType</h5>
                                                </div>
                                                <div>
                                                    <p>订单属性</p>
                                                    <h5>@entity.OrderTypeDesc</h5>
                                                </div>
                                            </div>
                                            <div class="lcDivList">
                                                <div>
                                                    <p>合并编号</p>
                                                    <h5>@entity.MergeNo</h5>
                                                </div>
                                                <div>
                                                    <p>制单人</p>
                                                    <h5>@(entity.user != null ? entity.user.UserName : "")</h5>
                                                </div>
                                                <div title="2019-05-15 17:31:11">
                                                    <p>制单时间</p>
                                                    <h5>@entity.OrderDate</h5>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="lcItem_t_r">
                                            <div class="lcItem_t_r_l">
                                                <div>
                                                    <p>订单归属</p>
                                                    <h5>@(entity.customer != null ? entity.customer.CustomerName : "")</h5>
                                                </div>
                                                <div>
                                                    <p>发货仓库</p>
                                                    <h5>@(entity.sendstorage != null ? entity.sendstorage.StorageName : "")</h5>
                                                </div>
                                                <div>
                                                    <p>订单状态</p>
                                                    <h5>@(entity.OrderStatusDesc + entity.UploadStatusDesc)</h5>
                                                </div>
                                                <div>
                                                    <p>出库状态</p>
                                                    <h5>@(!string.IsNullOrEmpty(entity.OrderOutStatus) && entity.OrderOutStatus.Equals("T") ? "已出库" : "待出库")</h5>
                                                </div>
                                            </div>
                                            <div class="lcItem_t_r_btnList" style="width: 270px;">
                                                <div class="showDiv" isok="true">
                                                    订单详情
                                                </div>
                                                @if (!string.IsNullOrEmpty(entity.AttachmentIDs))
                                                {
                                                    <div class="查看回单" onclick="javascript:showImg('@entity.AttachmentIDs')">
                                                        查看回单
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>

                                }
                                <div class="lcItem_b">
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>项次</th>
                                                <th>商品编号</th>
                                                <th>名称</th>
                                                <th>规格</th>
                                                <th>数量</th>
                                                <th>单位</th>
                                                <th>重量</th>
                                                <th>批次号</th>
                                                <th>生产日期</th>
                                                <th>到期日期</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (entity.orderDetailList != null && entity.orderDetailList.Count > 0)
                                            {
                                                List<OrderDetailEntity> list = entity.orderDetailList;
                                                int j = 1;
                                                for (int i = 0; i < list.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@(j++)</td>
                                                        <td>@list[i].GoodsNo</td>
                                                        <td>@list[i].GoodsName</td>
                                                        <td>@list[i].GoodsModel</td>
                                                        <td>@list[i].Quantity</td>
                                                        <td>@list[i].Units</td>
                                                        <td>@list[i].Weight</td>
                                                        <td>@list[i].BatchNumber</td>
                                                        <td>@list[i].ProductDate.ToShortDateString()</td>
                                                        <td>@list[i].ExceedDate.ToShortDateString()</td>
                                                    </tr>
                                                }
                                            }
                                        </tbody>
                                    </table>
                                    <div class="lcItem_b_b">
                                        <div class="lcItem_b_bDivItem">
                                            <div>
                                                运费应收:
                                                <span>@entity.configPrice</span>
                                            </div>
                                            <div>
                                                装卸应收:
                                                <span>@entity.configHandInAmt</span>
                                            </div>
                                            <div>
                                                分拣应收:
                                                <span>@entity.configSortPrice</span>
                                            </div>
                                            <div>
                                                运费应付:
                                                <span>@entity.configCosting</span>
                                            </div>
                                            <div>
                                                装卸应付:
                                                <span>@entity.configHandOutAmt</span>
                                            </div>
                                            <div>
                                                分拣应付:
                                                <span>@entity.configSortCosting</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }

                @{ Html.RenderPartial("../Pager", p); }
            </div>
        </div> <!-- /widget-body -->
    </div> <!-- /widget -->
</div>

<!--运输计划-->
<div class="coumpLayer_ysjh" id="myModal" style="display: none;">
    <div class="coumpLayer_ysjh_t">
        <table style="width:100%">
            <thead>
                <tr>
                    <td colspan="4" align="left" style="font-size:larger">运输计划单</td>
                </tr>
                <tr>
                    <td colspan="4" align="left">
                        本次计划单需安排<span id="orderCount" style="color:red"></span>张运输订单
                        <input type="hidden" id="OrderIDS" name="OrderIDS" value="" />
                    </td>
                </tr>
            </thead>
            <tr>
                <td>承运商类型</td>
                <td>
                    <select tabindex="1" class="" id="Type" style="width:220px" name="Type">
                        <option value="">--承运商类型--</option>
                        @foreach (var item in CarrierModel)
                        {
                            <option value="@item.ValueInfo">@item.ValueInfo</option>
                        }
                    </select>
                </td>
                <td>承运商名称</td>
                <td>
                    <input type="hidden" id="txt_CarrierID" name="txt_CarrierID" value="-1" />
                    <input type="text" id="txt_CarrierName" style="width:220px" name="txt_CarrierName" />
                    <div id="div_carriere_items" style="display:none">
                    </div>
                </td>

            </tr>
            <tr>
                <td>温区</td>
                <td>
                    <select tabindex="1" class=" style=" width:220px" id="Temp" name="Temp">
                        @foreach (var item in temp)
                        {
                            <option value="@item.ValueInfo">@item.ValueInfo</option>
                        }
                    </select>
                </td>
                <td>物流方式</td>
                <td>
                    <select tabindex="1" class="" id="DeliveryType" style="width:220px" name="DeliveryType">
                        @foreach (var item in deliveryList)
                        {
                            <option value="@item.ValueInfo">@item.ValueInfo</option>
                        }
                    </select>

                </td>
            </tr>
            <tr>
                <td>驾驶员姓名</td>
                <td><input type="text" placeholder="请输入驾驶员姓名" id="DriverName" name="DriverName" style="width:220px" /></td>
                <td>联系电话</td>
                <td><input type="text" placeholder="请输入联系电话" id="DriverTelephone" name="DriverTelephone" style="width:220px" /></td>
            </tr>
            <tr>
                <td>车型</td>
                <td><input type="text" placeholder="请输入车型" id="CarModel" name="CarModel" style="width:220px" /></td>
                <td>提货车牌</td>
                <td><input placeholder="请输入提货车牌" type="text" id="CarNo" name="CarNo" style="width:220px" /></td>

            </tr>
            <tr>
                <td>提货时间</td>
                <td>
                    <input type="text" aria-controls="menus" class="layui-input" style="width:220px" value="@(DateTime.Now.ToString("yyyy-MM-dd"))" placeholder="订单提货时间" id="DeliverDate" lay-key="3" autocomplete="off" name="DeliverDate">
                </td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td>备注</td>
                <td colspan="3">
                    <textarea id="Remark" cols="10" rows="20" style="margin: 0px; width: 628px; height: 58px;"></textarea>
                </td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="padding-top: 10px;">
                    <span id="msg" style="color:red"></span>
                    <input id="hid_orderid" type="hidden" />
                    <input type="button" id="btn_save" class="btn btn-info" value="确认" />
                    <input type="button" id="btn_cancel" class="btn btn-info" value="取消" />
                </td>
            </tr>
        </table>
    </div>
</div>

<!--图片的弹窗-->
<div class="docs-pictures clearfix" id="div_showImage">

</div>
@section Footer{
    <script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
    <script type="text/javascript" src="~/source/assets/js/viewer-jquery.min.js"></script>
    <script type="text/javascript" src="~/source/Order/SearchOrder.js?@(DateTime.Now.ToShortDateString())"></script>
    <script src="~/source/layui/layui.js"></script>
    <script>

        //订单配送
        $("#btn_OrderPlan").on("click", function () {
            var orderids = "";
            var count=0;
            $.each($('input:checkbox:checked'), function () {
                if ($(this).val() != "-1") {
                    orderids += $(this).val() + ",";
                    count++;
                }
            });
            $("#myModal").hide();
            if (count > 0) {
                $("#OrderIDS").val(orderids);
                $("#orderCount").html(count);
                $("#myModal").show();
            }
            else {
                alert("请选择订单！");
            }
        })


        //运输计划取消
        $("#btn_cancel").on("click", function () {
            $("#myModal").hide();
        })


        $("#txt_CarrierName").keyup(function () {
            var Name = $("#txt_CarrierName").val();
            GetCarrierByName(Name);

        })
        $("#txt_CarrierName").focus(function () {
            var Name = $("#txt_CarrierName").val();
            GetCarrierByName(Name);
        })

        $("#div_carriere_items").on("click", "li", function () {
            var name = $(this).text();
            var id = $(this).attr("id");
            var contact = $(this).attr("contact");
            $('#txt_CarrierID').val(id);
            $('#txt_CarrierName').val(name);
            $('#div_carriere_items').hide(500);

            if (contact != "") {
                var item = $.parseJSON(contact);
                if (item) {
                    $("#DriverName").val(item[0].ContactName);
                    $("#DriverTelephone").val(item[0].Mobile != "" ? item[0].Mobile : item[0].Telephone);
                }
            }
        });
        $("#txt_CarrierName").val($("#txt_CarrierName").val()).trigger("change");

        //承运商模糊查询
        function GetCarrierByName(Name) {
            $.ajax({
                type: "post",
                url: "GetCarrierByName",
                data: {
                    name: Name,
                    contactBlackCarrier: false
                },
                success: function (data) {
                    console.log(data);
                    if (data) {
                        $("#div_carriere_items").html("")
                        $("#div_carriere_items").show();
                        for (var i = 0; i < data.length; i++) {
                            $("#div_carriere_items").append("<li class='div_carriere_item' id='" + data[i].CarrierID + "' contact='" + data[i].contactJson + "'>" + data[i].CarrierName + "</li>");
                        }
                    }
                }
            })
        }


        $(document).ready(function () {
            orderInfo.init();
        });

        //物流计划保存
        $("#btn_save").click(function () {

            var orderids = $("#OrderIDS").val();
            var carrierName = $("#txt_CarrierName").val();
            var carrierId = $("#txt_CarrierID").val();
            var temp = $("#Temp").val();
            var deliveryType = $("#DeliveryType").val();
            var driverName = $("#DriverName").val();
            var driverTelephone = $("#DriverTelephone").val();
            var carModel = $("#CarModel").val();
            var carNo = $("#CarNo").val();
            var deliverDate = $("#DeliverDate").val();
            var remark = $("#Remark").val();

            if (carrierName == "") {
                $("#msg").html("请输入承运商信息!")
                return false;
            }

            $.ajax({
                type: "post",
                url: "/Line/OrderDeliveryPlanProcess",
                data: {
                    orderids:orderids,  carrierName:carrierName,  carrierId:carrierId,  temp:temp,  deliveryType:deliveryType,
                    driverName:driverName,  driverTelephone:driverTelephone,  carModel:carModel,  carNo:carNo,  deliverDate:deliverDate,  remark:remark
                },
                success: function (msg) {
                    console.log(msg);
                    alert("运输计划安排成功！");
                    $("#myModal").hide();
                    $("#btn_submit").click();
                }
            })
        });


        $("#chk_all").click(function () {
            //全选,设置chheckbox name='all' tbody id=tb
            $("input[name=chk_name]").each(function () {
                $(this).prop('checked', $(this).is(':checked') ? false : true);
            });
        });
        layui.use('laydate', function () {

            var laydate = layui.laydate;
            laydate.render({
                elem: '#begindate' //指定元素
            });
            laydate.render({
                elem: '#enddate' //指定元素
            });
            laydate.render({
                elem: '#DeliverDate' //指定元素
            });
        });
    </script>
}