@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "编辑车辆品牌";
    BrandEntity brandEntity = (BrandEntity)ViewBag.Brand;
}
@section Header{
    <link href="~/source/assets/css/timepicker.css" rel="stylesheet" />
    <link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <style>
        .picRemove {
            height: 15px;
            width: 15px;
            background-color: #e4e5e6;
            position: absolute;
            margin-top: 15px;
            /*filter: alpha(opacity:70);
            opacity: 0.7;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;*/
        }
    </style>

}
    <div class="row-fluid">
        <form class="form-horizontal" id="brandForm" action="/Brand/Modify" method="post">
            <div class="widget widget-padding span12">
                <div class="widget-header" style="margin-top:30px">
                    <i class="icon-list-alt"></i><h5>车辆品牌</h5>
                </div>
                <div class="widget-body" style="overflow: hidden; display: block;">
                    <div class="widget-forms clearfix">
                        <input type="hidden" id="BrandID" name="BrandID" value="@brandEntity.BrandID">
                        <div class="control-group">
                            <label class="control-label">品牌名称</label>
                            <div class="controls">
                                <input class="span5" type="text" placeholder="品牌名称" id="BrandName" name="BrandName" value="@brandEntity.BrandName">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">品牌英文名</label>
                            <div class="controls">
                                <input class="span5" type="text" placeholder="品牌英文名" id="BrandNameEN" name="BrandNameEN" value="@brandEntity.BrandNameEN">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">品牌描述</label>
                            <div class="controls">
                                <input class="span5" type="text" placeholder="品牌描述" id="Description" name="Description" value="@brandEntity.Description">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">是否可用</label>
                            <div class="controls">
                                <input type="checkbox" value="1" id="IsUse" name="IsUse" @(brandEntity.IsUse == 1 ? "checked" : "")>
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label">图片预览</label>
                            <div class="controls" id="picContainer">
                                
                                @if (brandEntity.Attachment != null && brandEntity.Attachment.AttachmentID>0)
                                {                                    
                                         <span class="picRemove"  val="@brandEntity.Attachment.AttachmentID" style="height:0px"></span>
                                         <img src="@brandEntity.Attachment.FilePath.Replace("~", "")" alt="@(brandEntity.Attachment.FileName + brandEntity.Attachment.FileExtendName)" style="width: 150px; height: 150px; margin-top: 15px">
                                }
                            </div>
                        </div>
                        <input type="hidden" id="ImageURL" name="ImageURL" value="@brandEntity.ImageURL">                        
                        @if (brandEntity.Attachment == null || brandEntity.Attachment.AttachmentID==0)
                        {
                            
                            <div class="control-group" id="uploadC">                      
                                <label class="control-label">上传图片</label>
                                <div class="controls">
                                    <input type="file" name="file" id="file" multiple />
                                </div>
                            </div>                         
                        }
                        <div class="control-group">
                            <label class="control-label"></label>
                            <div class="controls">
                                <span style="color:red" id="spDesc"></span>
                            </div>
                        </div>  

                    </div>
                </div>

                <div class="widget-footer">
                    <button class="btn btn-primary" type="button" id="save">保存</button>
                </div>
            
            </div>
        </form>
        
</div>
<div class="window-mask" style="display:none"></div>
<div id="imgContainer" style="z-index:999;display:none">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <div class="widget-buttons">
                    <a href="javascript:void(0)" id="closeDeal"><i class="icon-remove"></i>关闭</a>
                </div>
            </div>
            <div class="widget-body" id="imgshow" style="text-align: center;"></div>
        </div>
    </div>

</div> 
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="~/source/Brand.js"></script>
<script type="text/javascript">
    var maxPicCount = @ViewBag.MaxPicCount;
    $(document).ready(function () {
        var oFileInput = new FileInput();
        oFileInput.Init("file", "/Upload/UploadFile");

        $("#spDesc").text("最多只会保留" + maxPicCount + "张图片;图片大小：150KB以内 尺寸：1024*768");

        brandInfo.init();

    });



</script>
    
}

