@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "承运商管理信息";        
    CarrierEntity CarrierEntity = (CarrierEntity)ViewBag.Carrier;
    List<BaseDataEntity> CarrierModel = ((List<BaseDataEntity>)ViewBag.CarrierModel) ?? new List<BaseDataEntity>();
}
@section Header{
    <link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
    <style>
        .picRemove {
            height: 15px;
            width: 15px;
            background-color: #e4e5e6;
            position: absolute;
            margin-top: 15px;
            /*filter: alpha(opacity:70);
            opacity: 0.7;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;*/
        }
    </style>
}
<div class="row-fluid">
    <form class="form-horizontal" id="CarrierForm" action="/Carrier/Modify" method="post">
        <div class="widget widget-padding span12">
            <div class="widget-header" style="margin-top:30px">
                <i class="icon-list-alt"></i><h5>承运商管理信息</h5>
            </div>
            <div class="widget-body" style="overflow: hidden; display: block;">
                <div class="widget-forms clearfix">
                    <input type="hidden" id="CarrierID" name="CarrierID" value="@CarrierEntity.CarrierID">
                    <input type="hidden" id="ContactJson" name="ContactJson" value="@CarrierEntity.ContactJson">
                    <div class="control-group">
                        <label class="control-label">承运商名称</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="承运商名称" id="CarrierName" name="CarrierName" value="@CarrierEntity.CarrierName" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">承运商简称</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="承运商简称" id="CarrierShortName" name="CarrierShortName" value="@CarrierEntity.CarrierShortName" maxlength="100">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">承运商编号</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="承运商编号" id="CarrierNo" name="CarrierNo" value="@(string.IsNullOrEmpty(CarrierEntity.CarrierNo) ? "LC" + StringHelper.GetRandomCode(4) : CarrierEntity.CarrierNo)" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">承运商类型</label>
                        <div class="controls" id="brandContainer">
                            <select tabindex="1" class="span5" id="Type" name="Type">
                                <option value="">--承运商类型--</option>
                                @foreach (var item in CarrierModel)
                                {
                                    <option value="@item.ValueInfo" @(CarrierEntity.Type == item.ValueInfo ? "selected" : "")>@item.ValueInfo</option>
                                }
                            </select>

                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">车牌号</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="车牌号" id="CarNo" name="CarNo" value="@CarrierEntity.CarNo" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">备注</label>
                        <div class="controls">
                            <input class="span5" type="text" placeholder="备注" id="Remark" name="Remark" value="@CarrierEntity.Remark" maxlength="200">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">是否可用</label>
                        <div class="controls">
                            @if (CarrierEntity.CarrierID > 0)
                            {
                                <input type="checkbox" value="1" id="Status" name="Status" @(CarrierEntity.Status == 1 ? "checked" : "")>
                            }
                            else
                            {
                                <input type="checkbox" value="1" id="Status" name="Status" checked>
                            }

                        </div>
                    </div>
                </div>
            </div>
            <div class="widget-header" style="margin-top:30px">
                <i class="icon-list-alt"></i><h5>新增加联系人</h5>
                <div class="widget-buttons">
                    <a  href="javascript:addTr(oneTr())"><i class="icon-user"></i> 新增</a>
                </div>
            </div>
            <div class="widget-body" style="overflow: hidden; display: block;">
                <div class="widget-forms clearfix">
                    <table class="table table-bordered" id="fineTable">
                        <thead>
                            <tr>
                                <th>联系人姓名<input type="hidden" value="Head"></th>
                                <th>手机号</th>
                                <th>座机</th>
                                <th>邮箱</th>
                                <th>备注</th>
                                <th>操作</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            @if (CarrierEntity.listContact!=null&&CarrierEntity.listContact.Count>0)
                            {                                   
                                foreach(ContactEntity cc in CarrierEntity.listContact)
                                { 
                                     <tr>
                                        <td><input type="text" id="contractName" value="@cc.ContactName" class="form-control"></td>
                                        <td><input type="text" id="contractPhone" value="@cc.Mobile" class="form-control "></td>
                                        <td><input type="text" id="contractTelephone" value="@cc.Telephone" class="form-control "></td>
                                        <td><input type="text" id="contractEmail" value="@cc.Email" class="form-control "></td>
                                        <td><input type="text" id="remark" value="@cc.Remark" class="form-control "></td>
                                        <td><input type="hidden" id="contactID" value="@cc.ContactID" /><span style="cursor:pointer" onclick="delTr(this,@cc.ContactID)">移除</span></td>
                                    </tr>
                                }
                            }
                            else
                            { 
                                <tr>
                                    <td><input type="text" id="contractName" class="form-control"></td>
                                    <td><input type="text" id="contractPhone" class="form-control "></td>
                                    <td><input type="text" id="contractTelephone" class="form-control "></td>
                                    <td><input type="text" id="contractEmail" class="form-control "></td>
                                    <td><input type="text" id="remark" class="form-control "></td>
                                    <td><input type="hidden" id="contactID" value="0" /><span style="cursor:pointer" onclick="delTr(this,0)">移除</span></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="widget-footer">
                <button class="btn btn-primary" type="button" id="save">保存</button>
                <button class="btn btn-primary" type="button" id="goback">返回</button>
            </div>
        </div>
</form>

</div>
<div class="window-mask" style="display:none"></div>
<div id="imgContainer" style="z-index:999;display:none">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <div class="widget-buttons">
                    <a href="javascript:void(0)" id="closeDeal"><i class="icon-remove"></i>关闭</a>
                </div>
            </div>
            <div class="widget-body" id="imgshow" style="text-align: center;"></div>
        </div>
    </div>
</div>
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="~/source/BaseData/Carrier.js"></script>
<script type="text/javascript" src="~/source/BaseData/Table.js"></script>
<script>
    $(document).ready(function () {
        carrierInfo.init();
    });
</script>
}
