@using Entity.ViewModel;
@using Common;
@model GuoChe.Models.OrderInfo
@{    
    List<OrderEntity> orderList =Model.OrderList ;
}
<style type="text/css">
    .tdcss {
        border-left: 1px solid #121215;
        border-top: 1px solid #121215;
    }

    .tdcss2 {
        border-left: 1px solid #121215;
        border-bottom: 1px solid #121215;
        border-top: 1px solid #121215;
    }
    .tdcss3 {
        border-bottom: 1px solid #121215;
    }
    .pdfpage {
        page-break-inside: avoid;
    }
</style>
@if(orderList!=null&&orderList.Count>0)
{
    foreach (OrderEntity entity in orderList)
    { 
        <div class="pdfpage">
        <table style="width: 100%; border-collapse: separate; border-spacing: 0px 10px;" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="6" align="center">
                    上 海 翊 旻 商 贸 有 限 公 司
                </td>
            </tr>
            <tr>
                <td colspan="6" style="font-size: xx-large; font-weight: 100;text-align: center; ">@entity.TypeDesc</td>
            </tr>
            <tr>
                <td colspan="6">订单日期:@entity.OrderDate</td>
            </tr>
            <tr>
                <td>客户名称:</td>
                <td>@(entity.customer != null ? entity.customer.CustomerName : "")</td>
                <td>门店:</td>
                <td>@(entity.contact != null ? entity.contact.name : "")</td>
                <td>送货单号:</td>
                <td>@entity.OrderNo</td>
            </tr>
            <tr>
                <td>配送地址:</td>
                <td>@(entity.contact != null ? entity.contact.address : "")</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </table>
        <table style="width: 100%;" cellspacing="0" cellpadding="2">
            <tr style="height: 35px">
                <td class="tdcss">项次</td>
                <td class="tdcss">品名</td>
                <td class="tdcss">单位</td>
                <td class="tdcss">数量</td>
                <td class="tdcss">批号</td>
                <td class="tdcss">条形码</td>
                <td class="tdcss">生产日期</td>
                <td class="tdcss" style="border-right: 1px solid #121215;">到期日期</td>
            </tr>
            @if (entity.orderDetailList != null && entity.orderDetailList.Count > 0)
            {
                int i = 0;
                
                foreach (OrderDetailEntity detail in entity.orderDetailList)
                {
                    i += 1;
                    string cssname = entity.orderDetailList.Count == i ? "tdcss2" : "tdcss";
                    <tr style="height: auto">
                        <td class="@cssname" style="width:5%;">@i</td>
                        <td class="@cssname" style="width:15%;">@detail.GoodsName</td>
                        <td class="@cssname" style="width:10%;">@detail.Units</td>
                        <td class="@cssname" style="width:10%;">@detail.Quantity</td>
                        <td class="@cssname" style="width:10%;">@detail.BatchNumber</td>
                        <td class="@cssname" style="width:10%;">@(detail.goods != null ? detail.goods.BarCode : "")</td>
                        <td class="@cssname" style="width:10%;">@detail.ProductDate.ToShortDateString()</td>
                        <td class="@cssname" style="border-right: 1px solid #121215; width: 10%; ">@detail.ExceedDate.ToShortDateString()</td>                        
                    </tr>
                }
            }            
        </table>
        <br />
        <br />
        <br />
        <br />
        <table style="width: 100%; border-collapse: separate; border-spacing: 0px 10px;" cellpadding="0" cellspacing="0">
            <tr>
                <td colspan="2">预约时间:@entity.SendDate.ToShortDateString()</td>
            </tr>
            <tr>
                <td colspan="2">备注:@entity.Remark</td>
            </tr>
            <tr>
                <td colspan="2" align="right">业务人员:@entity.SalesMan</td>
            </tr>
            <tr>
                <td colspan="2" align="right">促销人员:@entity.PromotionMan</td>
            </tr>
            <tr>
                <td colspan="2" align="right">送货单号:@(entity.OrderDate + (entity.contact != null ? entity.contact.name : ""))</td>
            </tr>
        </table>
        </div>
    }
}