@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "订单录入";
    List<GoodsEntity> goods = (List<GoodsEntity>)ViewBag.Goods;//商品
    List<StorageEntity> storages = (List<StorageEntity>)ViewBag.Storage;//仓库
    List<CarrierEntity> carriers = (List<CarrierEntity>)ViewBag.Carrier;//承运商
    List<CustomerEntity> customers = (List<CustomerEntity>)ViewBag.Customer;//客户
    List<ReceiverEntity> receivers = (List<ReceiverEntity>)ViewBag.Receiver;//收货人 [门店、仓库]
    PriceSetEntity priceSetEntity = (PriceSetEntity)ViewBag.PriceSet;//价格配置
    List<BaseDataEntity> tems = (List<BaseDataEntity>)ViewBag.TemList;//温度
    List<BaseDataEntity> receiverList = (List<BaseDataEntity>)ViewBag.ReceiverList;//收货方
    List<BaseDataEntity> deliverList = (List<BaseDataEntity>)ViewBag.DeliverList;//配送方式
}
@section Header{
<link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/source/layui/css/layui.css" rel="stylesheet" />
<style>
    .picRemove {
        height: 15px;
        width: 15px;
        background-color: #e4e5e6;
        position: absolute;
        margin-top: 15px;
        /*filter: alpha(opacity:70);
            opacity: 0.7;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;*/
    }
</style>

}
<div class="row-fluid">
    <form class="form-horizontal" id="priceSetForm" action="/Order/Modify" method="post">
        <div class="widget widget-padding span12">
            <div class="widget-header" style="margin-top:30px">
                <i class="icon-list-alt"></i><h5>订单录入</h5>
                <i><<</i><h5>@ViewBag.TypeName</h5>
            </div>
            <div class="widget-body" style="overflow: hidden; display: block;">
                <div class="widget-forms clearfix">
                    <input type="hidden" id="PriceSetID" name="PriceSetID" value="@priceSetEntity.PriceSetID">
                    <input type="hidden" id="Hid_Type" name="Hid_Type" value="@ViewBag.Type" />
                    <table class="table table-bordered">
                        <tr>
                            <td style="width:60px"><label class="control-label">选择客户</label></td>
                            <td style="width:300px">
                                <select tabindex="1" class="" id="CustomerID" name="CustomerID">
                                    @foreach (var item in customers)
                                    {
                                        <option value="@item.CustomerID" @(item.CustomerID == priceSetEntity.CustomerID ? "selected" : "")>@item.CustomerName</option>
                                    }
                                </select>
                            </td>
                            <td style="width:60px">
                                <label class="control-label" id="choose_Receiver" style="display:none">选择门店</label>

                                <label class="control-label" id="choose_Storage" style="display:none">选择仓库</label>
                            </td>
                            <td style="width:300px">
                                <select tabindex="1" class="" id="ReceiverID" style="display:none"  name="ReceiverID">
                                    @foreach (var item in receivers)
                                    {
                                        <option value="@item.ReceiverID">@item.ReceiverName</option>
                                    }
                                </select>

                                <select tabindex="1" class="" id="StorageID_XXX" style="display:none" name="StorageID_XXX">
                                    @foreach (var item in storages)
                                    {
                                        <option value="@item.StorageID" @(item.StorageID == priceSetEntity.StorageID ? "selected" : "")>@item.StorageName</option>
                                    }
                                </select>
                            </td>
                            <td style="width:60px"><label class="control-label">下单时间</label></td>
                            <td style="width:300px">
                                <input type="text" aria-controls="menus" placeholder="下单时间" id="OrderDate" value="@DateTime.Now.ToString("yyyy-MM-dd")" lay-key="1" name="OrderDate">
                            </td>
                        </tr>
                        <tr id="tr_ContactInfo" style="display:none">
                            <td style="width:60px"><label class="control-label">联系人</label></td>
                            <td style="width:300px">
                                <input type="text" style="width:220px" readonly="readonly" id="contactName" aria-controls="menus" />
                            </td>
                            <td style="width:60px"><label class="control-label">联系方式</label></td>
                            <td style="width:300px">
                                <input type="text" style="width:220px" readonly="readonly" id="contactMobile" aria-controls="menus" />
                            </td>
                            <td style="width:60px"><label class="control-label">联系地址</label></td>
                            <td style="width:300px">
                                <input type="text" style="width:220px" readonly="readonly" id="contactAddress" aria-controls="menus" />
                            </td>
                        </tr>
                        <tr>
                            <td style="width:60px"><label class="control-label">发货库仓</label></td>
                            <td style="width:300px">
                                <select tabindex="1" class="" id="StorageID" name="StorageID">
                                    @foreach (var item in storages)
                                    {
                                        <option value="@item.StorageID" @(item.StorageID == priceSetEntity.StorageID ? "selected" : "")>@item.StorageName</option>
                                    }
                                </select>
                            </td>
                            <td style="width:60px"><label class="control-label">承运商</label></td>
                            <td style="width:300px">
                                <select tabindex="1" class="" id="CarrierID" name="CarrierID">
                                    @foreach (var item in carriers)
                                    {
                                        <option value="@item.CarrierID" @(item.CarrierID == priceSetEntity.CarrierID ? "selected" : "")>@item.CarrierName</option>
                                    }
                                </select>
                            </td>
                            <td style="width:60px"><label class="control-label">送达时间</label></td>
                            <td style="width:300px">
                                <input type="text" style="width:220px" aria-controls="menus" placeholder="送达时间" value="@DateTime.Now.ToString("yyyy-MM-dd")" id="SendDate" onclick="WdatePicker({dateFmt:'yyyy-MM-dd'})" name="SendDate">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:60px"><label class="control-label">运输应收</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="运输应收" id="configPrice" name="configPrice" value="@priceSetEntity.configPrice" maxlength="100">
                            </td>
                            <td style="width:60px"><label class="control-label">装卸应收</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="装卸应收" id="configHandInAmt" name="configHandInAmt" value="@priceSetEntity.configHandInAmt" maxlength="200">
                            </td>                            
                            <td style="width:60px"><label class="control-label">分拣应收</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="分拣应收" id="configSortPrice" name="configSortPrice" value="@priceSetEntity.configSortPrice" maxlength="200">
                            </td>
                        </tr>
                        <tr>
                            <td style="width:60px"><label class="control-label">运输应付</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="运输应付" id="configCosting" name="configCosting" value="@priceSetEntity.configCosting" maxlength="200">
                            </td>
                            <td style="width:60px"><label class="control-label">装卸应付</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="装卸应付" id="configHandOutAmt" name="configHandOutAmt" value="@priceSetEntity.configHandOutAmt" maxlength="200">
                            </td>
                            <td style="width:60px"><label class="control-label">分拣应付</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="分拣应付" id="configSortCosting" name="configSortCosting" value="@priceSetEntity.configSortCosting" maxlength="200">
                            </td>
                        </tr>
                        <tr>
                            @*<td style="width:60px"><label class="control-label">配送方式</label></td>
                            <td style="width:300px">
                                <select tabindex="1" class="" id="DeliveryMode" name="DeliveryMode">
                                    @foreach (var item in deliverList)
                                    {
                                        <option value="@item.ValueInfo" @(item.ValueInfo == priceSetEntity.TemType ? "selected" : "")>@item.ValueInfo</option>
                                    }
                                </select>
                            </td>*@
                            <td style="width:60px"><label class="control-label">订单编号</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" readonly="readonly" placeholder="订单编号" id="OrderNo" name="OrderNo" value="@DateTime.Now.ToString("yyyyMMddHHmmss")" maxlength="200">
                            </td>
                            <td style="width:60px"><label class="control-label">合并编号</label></td>
                            <td style="width:300px"><input style="width:220px" class="" type="text" placeholder="合并编号" id="MergeNo" name="MergeNo" maxlength="200"></td>
                            <td style="width:60px"><label class="control-label">温度</label></td>
                            <td style="width:300px">
                                <select tabindex="1" class="" id="TemType" name="TemType">
                                    @foreach (var item in tems)
                                    {
                                        <option value="@item.ValueInfo">@item.ValueInfo</option>
                                    }
                                </select>
                            </td>
                  
                        </tr>
                        <tr>
                            <td style="width:60px"><label class="control-label">备注</label></td>
                            <td style="width:300px">
                                <input class="" type="text" style="width:220px" placeholder="备注" id="Remark" name="Remark" maxlength="200">
                            </td>                            
                            <td style="width:60px"><label class="control-label"></label></td>
                            <td style="width:300px"></td>
                            <td style="width:60px"><label class="control-label"></label></td>
                            <td style="width:300px"></td>
                        </tr>
                    </table>
                </div>
            </div>
            @*仓配订单  调拨订单*@	
            @if (ViewBag.Type.Equals("CPDD") || ViewBag.Type.Equals("DBDD"))
            { 
                <div class="widget-body" style="overflow: hidden; display: block;">
                    <div class="widget-forms clearfix">
                        <table class="table table-bordered" id="fineTable">
                            <thead>
                                <tr>
                                    <th>商品名称</th>
                                    <th>批次号</th>
                                    <th>生产日期</th>
                                    <th>到期日期</th>
                                    <th>商品数量</th>
                                    <th>单位</th>
                                    <th>库存数量</th>
                                    <th>商品重量</th>
                                    <th>商品总重量</th>
                                    <th>移除</th>
                                </tr>
                            </thead>
                            <tbody id="parentTbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            { @*运输订单A 运输订单B*@
                 <div class="widget-body" style="overflow: hidden; display: block;">
                    <div class="widget-forms clearfix">
                        <table class="table table-bordered" id="fineTable">
                            <thead>
                                <tr>@*所属客户	商品名称	保质期	批次号	生产日期	商品数量	单位	商品重量	商品总重量*@	
                                    <th>所属客户</th>
                                    <th>商品名称</th>
                                    <th>保质期</th>
                                    <th>批次号</th>
                                    <th>生产日期</th>
                                    <th>商品数量</th>
                                    <th>单位</th>
                                    <th>商品重量</th>
                                    <th>商品总重量</th>
                                    <th>移除</th>
                                </tr>
                            </thead>
                            <tbody id="parentTbody">
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="widget-footer">
                <button class="btn btn-primary" type="button"  id="select_goods">选择商品</button>
                <button class="btn btn-primary" type="button" id="save">保存</button>
                <button class="btn btn-primary" type="button" id="goback">返回</button>
            </div>

        </div>
    </form>

</div>
<div class="window-mask" style="display:none"></div>
<div id="imgContainer" style="z-index:999;display:none">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <div class="widget-buttons">
                    <a href="javascript:void(0)" id="closeDeal"><i class="icon-remove"></i>关闭</a>
                </div>
            </div>
            <div class="widget-body" id="imgshow" style="text-align: center;"></div>
        </div>
    </div>
</div>
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="~/source/Order/inputOrder.js"></script>
<script src="~/source/layui/layui.js"></script>
<script>
    $(document).ready(function () {
        orderInfo.init();
    });

    layui.use('laydate', function () {

        var laydate = layui.laydate;
        laydate.render({
            elem: '#OrderDate' //指定元素
        });
    });
</script>



}