@using Common
@using Entity.ViewModel;
@{
    ViewBag.Title = "订单录入";
    //List<GoodsEntity> goods = (List<GoodsEntity>)ViewBag.Goods;//商品
    //List<StorageEntity> storages = (List<StorageEntity>)ViewBag.Storage;//仓库
    //List<CarrierEntity> carriers = (List<CarrierEntity>)ViewBag.Carrier;//承运商
    List<CustomerEntity> customers = (List<CustomerEntity>)ViewBag.Customer;//客户
    //List<ReceiverEntity> receivers = (List<ReceiverEntity>)ViewBag.Receiver;//收货人 [门店、仓库]
    OrderEntity entity = (OrderEntity)ViewBag.Order;//价格配置
    List<BaseDataEntity> temp = (List<BaseDataEntity>)ViewBag.TemList;//温度
    List<BaseDataEntity> carModelList = (List<BaseDataEntity>)ViewBag.CarModel;//车型
    List<BaseDataEntity> deliveryList = (List<BaseDataEntity>)ViewBag.DeliverList;//物流方式
    List<BaseDataEntity> receiverList = (List<BaseDataEntity>)ViewBag.ReceiverList;//收货方
   
}
@section Header{
<link href="~/source/bootstrap-fileinput/css/fileinput.min.css" rel="stylesheet" />
<link href="~/source/assets/css/lctypein.css" rel="stylesheet" />
<link href="~/source/layui/css/layui.css" rel="stylesheet" />
<style>
    .picRemove {
        height: 15px;
        width: 15px;
        background-color: #e4e5e6;
        position: absolute;
        margin-top: 15px;
        /*filter: alpha(opacity:70);
            opacity: 0.7;
            -moz-opacity: 0.7;
            -khtml-opacity: 0.7;*/
    }
    #div_items {
        width: auto;
        min-width:206px;
        height: 200px;
        border: 1px solid #66afe9;
        border-top: 0px;
        overflow: auto;
        display: none;
        position: absolute;
        background: #FFF;
    }

    .div_item {
        width: 100%;
        height: auto;
        margin-top: 1px;
        font-size: 13px;
        line-height: 20px;
        left: 20px;
        list-style-type: none;
    }

    .div_itembuttom {
        width: 100%;
        height: auto;
        margin-top: 1px;
        font-size: 13px;
        line-height: 20px;
    }
    li:hover {
        background-color: #4278ea;      
        color: #fff;
    }  

    #div_storage_items{
        width: auto;
        min-width:206px;
        height: 200px;
        border: 1px solid #66afe9;
        border-top: 0px;
        overflow: auto;
        display: none;
        position: absolute;
        background: #FFF;
    }

    .div_storage_item {
        width: 100%;
        height: auto;
        margin-top: 1px;
        font-size: 13px;
        line-height: 20px;
        left: 20px;
        list-style-type: none;
    }

    #div_sendstorage_items {
        width: auto;
        min-width: 206px;
        height: 200px;
        border: 1px solid #66afe9;
        border-top: 0px;
        overflow: auto;
        display: none;
        position: absolute;
        background: #FFF;
    }

    .div_sendstorage_item {
        width: 100%;
        height: auto;
        margin-top: 1px;
        font-size: 13px;
        line-height: 20px;
        left: 20px;
        list-style-type: none;
    }

    #div_carriere_items {
        width: auto;
        min-width: 206px;
        height: 200px;
        border: 1px solid #66afe9;
        border-top: 0px;
        overflow: auto;
        display: none;
        position: absolute;
        background: #FFF;
    }

    .div_carriere_item {
        width: 100%;
        height: auto;
        margin-top: 1px;
        font-size: 13px;
        line-height: 20px;
        left: 20px;
        list-style-type: none;
    }

    
</style>

}
<div class="row-fluid">
    <form class="form-horizontal" id="OrderForm" action="/Order/Modify" method="post">
        <div class="widget widget-padding span12">
            <div class="widget-header" style="margin-top:30px">
                <i class="icon-list-alt"></i><h5>订单录入</h5>
                <i><<</i><h5>@ViewBag.TypeName</h5>
            </div>
            <div class="widget-body" style="overflow: hidden; display: block;">
                <div class="widget-forms clearfix">
                    <input type="hidden" id="OrderID" name="OrderID" value="@entity.OrderID">
                    <input type="hidden" id="SubOrderType" name="SubOrderType" value="@(!string.IsNullOrEmpty(entity.SubOrderType) ? entity.SubOrderType: SubOrderType.SHD.ToString())">
                    <input type="hidden" id="IsImport" name="IsImport" value="@(!string.IsNullOrEmpty(entity.IsImport)?entity.IsImport:"F")">
                    <input type="hidden" id="Hid_Type" name="Hid_Type" value="@ViewBag.Type" />
                    <input type="hidden" id="OrderType" name="OrderType" value="@(string.IsNullOrEmpty(entity.OrderType)?ViewBag.Type:entity.OrderType)" />
                    <input type="hidden" id="orderDetailJson" name="orderDetailJson" />
                    <input type="hidden" id="CarrierID" name="CarrierID" value="@entity.CarrierID" />
                    <table class="table table-bordered" >
                        <tr>
                            <td style=""><label class="control-label">选择客户</label></td>
                            <td style="">
                                <select tabindex="1" class="" id="CustomerID" name="CustomerID">
                                    @foreach (var item in customers)
                                    {
                                        <option value="@item.CustomerID" @(item.CustomerID == entity.CustomerID ? "selected" : "")>@item.CustomerName</option>
                                    }
                                </select>
                            </td>
                            <td style="">
                                <label class="control-label" id="choose_Receiver" style="display:none">选择门店</label>

                                <label class="control-label" id="choose_Storage" style="display:none">选择仓库</label>
                            </td>
                            <td style="">
                                @*<select tabindex="1" class="" id="ReceiverID" style="display:none"  name="ReceiverID">
                                    <option value="-1">请选择门店</option> 
                                </select>*@
                                <input type="hidden" id="ReceiverID" name="ReceiverID" value="@(entity.receiver != null ? entity.receiver.ReceiverID : -1)" />
                                <input type="text" aria-controls="menus" autocomplete="off" id="ReceiverName" name="ReceiverName" value="@(entity.receiver!=null?entity.receiver.ReceiverName:"")">                                    
                                    <div id="div_items" style="display:none">
                                </div>

                                @*<select tabindex="1" class="" id="ReceiverStorageID" style="display:none" name="ReceiverStorageID">
                                    <option value="-1">请选择仓库</option> 
                                    @foreach (var item in storages)
                                    {
                                        <option value="@item.StorageID" @(item.StorageID == entity.ReceiverStorageID ? "selected" : "")>@item.StorageName</option>
                                    }
                                </select>*@

                                <input type="hidden" id="ReceiverStorageID" style="display:none" name="ReceiverStorageID" value="-1" />
                                <input type="text" aria-controls="menus" autocomplete="off" style="display:none" id="ReceiverStorageName" name="ReceiverStorageName">
                                <div id="div_storage_items" style="display:none">
                                </div>

                            </td>
                            <td style=""><label class="control-label">下单时间</label></td>
                            <td style="">
                                <input type="text" aria-controls="menus" placeholder="下单时间" style="width:220px" id="OrderDate" value="@(string.IsNullOrEmpty(entity.OrderDate) ? DateTime.Now.ToString("yyyy-MM-dd") : Convert.ToDateTime(entity.OrderDate).ToString("yyyy-MM-dd"))" class="layui-input" lay-key="1" name="OrderDate">
                            </td>
                        </tr>
                        <tr id="tr_ContactInfo" style="display:none">
                            <td style=""><label class="control-label">联系人</label></td>
                            <td style="">
                                <input type="text" style="width:220px" readonly="readonly" id="contactName" aria-controls="menus" value="@(entity.contact!=null?entity.contact.name:"")" />
                            </td>
                            <td style=""><label class="control-label">联系方式</label></td>
                            <td style="">
                                <input type="text" style="width:220px" readonly="readonly" id="contactMobile" aria-controls="menus" value="@(entity.contact!=null?entity.contact.telephone:"")" />
                            </td>
                            <td style=""><label class="control-label">联系地址</label></td>
                            <td style="" title="@(entity.contact != null ? entity.contact.address : "")">
                                <input type="text" style="width:220px" readonly="readonly" id="contactAddress" aria-controls="menus" title="@(entity.contact != null ? entity.contact.address : "")" value="@(entity.contact != null ? entity.contact.address : "")" />
                            </td>
                        </tr>
                        <tr>
                            <td style=""><label class="control-label">发货仓库</label></td>
                            <td style="">
                                <input type="hidden" id="SendStorageID" name="SendStorageID" value="@entity.SendStorageID" />
                                <input type="text" aria-controls="menus" autocomplete="off" id="SendStorageName" name="SendStorageName" value="@(entity.sendstorage != null ? entity.sendstorage.StorageName : "")">
                                <div id="div_sendstorage_items" style="display:none">
                                </div>
                                @*<select tabindex="1" class="" id="SendStorageID" name="SendStorageID">
                                    @foreach (var item in storages)
                                    {
                                        <option value="@item.StorageID" @(item.StorageID == entity.SendStorageID ? "selected" : "")>@item.StorageName</option>
                                    }
                                </select>*@
                            </td>
                            @*<td style=""><label class="control-label">承运商</label></td>
                            <td style="">
                                <input type="hidden" id="CarrierID" name="CarrierID" value="@entity.CarrierID" />
                                <input type="text" aria-controls="menus" autocomplete="off" id="CarrierName" name="CarrierName" value="@(entity.carrier != null ? entity.carrier.CarrierName : "")">
                                <div id="div_carriere_items" style="display:none">
                                </div>
                            </td>*@
                            <td style="">物流方式</td>
                            <td>
                                <select tabindex="1" class="" id="DeliveryType" name="DeliveryType">
                                    @foreach (var item in deliveryList)
                                    {
                                        <option value="@item.ValueInfo" @(item.ValueInfo == entity.DeliveryType ? "selected" : "")>@item.ValueInfo</option>
                                    }
                                </select>
                            </td>
                            <td style=""><label class="control-label">配送时间</label></td>
                            <td style="">
                                <input type="text" style="width:220px" aria-controls="menus" placeholder="配送时间" value="@(entity.SendDate != null && entity.SendDate > Convert.ToDateTime("2001-01-01") ? entity.SendDate.ToString("yyyy-MM-dd") : DateTime.Now.ToString("yyyy-MM-dd"))" class="layui-input" lay-key="2" id="SendDate" name="SendDate">
                            </td>
                        </tr>
                        <tr>
                            <td style=""><label class="control-label">配送温度</label></td>
                            <td style="">
                                <select tabindex="1" class="" id="TempType" name="TempType">
                                    @foreach (var item in temp)
                                    {
                                        <option value="@item.ValueInfo" @(item.ValueInfo == entity.TempType ? "selected" : "")>@item.ValueInfo</option>
                                    }
                                </select>
                            </td>
                            <td style=" "><label class="control-label">预约车型</label></td>
                            <td>
                                <select tabindex="1" class="" id="ReservedCarModel" name="ReservedCarModel">
                                    <option value="">请选择车型</option>
                                    @foreach (var item in carModelList)
                                    {
                                        <option value="@item.ValueInfo" @(item.ValueInfo == entity.TempType ? "selected" : "")>@item.ValueInfo</option>
                                    }
                                </select>
                            </td>
                            
                            <td style=" "><label class="control-label">备注</label></td>
                            <td>
                                <input class="" type="text" style="width:220px" placeholder="备注" id="Remark" name="Remark" value="@entity.Remark" maxlength="600">
                            </td>
                        </tr>
                        <tr>
                            <td style=" border-top: 1px solid red;" ><label class="control-label">运输应收</label></td>
                            <td style="width: 20%; border-top: 1px solid red;">
                                <input class="" type="text" style="width:220px" placeholder="运输应收" id="configPrice" name="configPrice" value="@entity.configPrice" maxlength="100">
                            </td>
                            <td style=" border-top: 1px solid red;"><label class="control-label">装卸应收</label></td>
                            <td style="width: 20%; border-top: 1px solid red;">
                                <input class="" type="text" style="width:220px" placeholder="装卸应收" id="configHandInAmt" name="configHandInAmt" value="@entity.configHandInAmt" maxlength="200">
                            </td>
                            <td style=" border-top: 1px solid red;"><label class="control-label">分拣应收</label></td>
                            <td style="width: 20%; border-top: 1px solid red;  ">
                                <input class="" type="text" style="width:220px" placeholder="分拣应收" id="configSortPrice" name="configSortPrice" value="@entity.configSortPrice" maxlength="200">
                            </td>
                        </tr>
                        <tr>
                            <td style=" "><label class="control-label">运输应付</label></td>
                            <td style="">
                                <input class="" type="text" style="width:220px" placeholder="运输应付" id="configCosting" name="configCosting" value="@entity.configCosting" maxlength="200">
                            </td>
                            <td style=""><label class="control-label">装卸应付</label></td>
                            <td style="">
                                <input class="" type="text" style="width:220px" placeholder="装卸应付" id="configHandOutAmt" name="configHandOutAmt" value="@entity.configHandOutAmt" maxlength="200">
                            </td>
                            <td style=""><label class="control-label">分拣应付</label></td>
                            <td style="width: 20%; ">
                                <input class="" type="text" style="width:220px" placeholder="分拣应付" id="configSortCosting" name="configSortCosting" value="@entity.configSortCosting" maxlength="200">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            @*仓配订单  调拨订单*@	
            @if (ViewBag.Type.Equals("CPDD") || ViewBag.Type.Equals("DBDD"))
            { 
                <div class="widget-body" style="overflow: hidden; display: block;">
                    <div class="widget-forms clearfix">
                        <table class="table table-bordered" id="fineTable">
                            <thead>
                                <tr>
                                    <th><input type="hidden" value="Head"></th> @*0*@
                                    <th>商品名称</th>@*1*@ 
                                    <th>批次号</th>@*2*@
                                    <th>生产日期</th>@*3*@
                                    <th>到期日期</th>@*4*@
                                    <th>商品数量</th>@*5*@
                                    <th>单位</th>@*6*@
                                    <th>库存数量</th>@*7*@
                                    <th>商品重量</th>@*8*@
                                    <th>商品总重量</th>@*9*@
                                    <th>可用库存</th>@*10*@
                                    <th>待出库数量</th>@*11*@
                                    <th>移除</th>
                                </tr>
                            </thead>
                            <tbody id="parentTbody">
                                @if (entity.orderDetailList != null && entity.orderDetailList.Count > 0)
                                {
                                    foreach (OrderDetailEntity item in entity.orderDetailList)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" value="@item.GoodsID" class="form-control">
                                                <input type="hidden" value="@item.InventoryID" class="form-control">
                                                <input type="hidden" id="ID" name="ID" value="@item.ID" class="form-control">
                                            </td>
                                            <td><input type="hidden" value="@item.GoodsName" class="form-control">@item.GoodsName</td>
                                            <td><input type="hidden" value="@item.BatchNumber" class="form-control ">@item.BatchNumber</td>
                                            <td><input type="hidden" value="@item.ProductDate.ToShortDateString()" class="form-control ">@item.ProductDate.ToShortDateString()</td>
                                            <td><input type="hidden" value="@item.ExceedDate.ToShortDateString()" class="form-control ">@item.ExceedDate.ToShortDateString()</td>
                                            <td><input type="text" name="txt_Count" onblur="CalculateTotalQuantity()" style="width:120px" value="@item.Quantity" class="form-control "></td>
                                            <td><input type="hidden" value="@item.Units" class="form-control ">@item.Units</td>
                                            <td><input type="hidden" value="@(item.inventory!=null?item.inventory.Quantity:0)" class="form-control ">@(item.inventory != null ? item.inventory.Quantity : 0)</td>
                                            <td><input type="hidden" value="@item.Weight" class="form-control ">@item.Weight</td>
                                            <td><input type="hidden" value="@item.TotalWeight" class="form-control ">@item.TotalWeight</td>
                                            <td><input type="hidden" value="0" class="form-control">@item.CanUseQuantity</td>
                                            <td><input type="hidden" value="0" class="form-control">@item.WaitQuantity</td>
                                            <td><span style="cursor:pointer" onclick="delTr(this,@item.ID)">移除</span></td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            else
            { @*运输订单A 运输订单B*@
                 <div class="widget-body" style="overflow: hidden; display: block;">
                    <div class="widget-forms clearfix">
                        <table class="table table-bordered" id="fineTable">
                            <thead>
                                <tr>
                                    <th><input type="hidden" value="Head"></th>@*0*@
                                    <th>所属客户</th>@*1*@
                                    <th>商品名称</th>@*2*@
                                    <th>保质期</th>@*3*@
                                    <th>批次号</th>@*4*@
                                    <th>生产日期</th>@*5*@
                                    <th>商品数量</th>@*6*@
                                    <th>单位</th>@*7*@
                                    <th>商品重量</th>@*8*@
                                    <th>商品总重量</th>@*9*@
                                    <th>可用库存</th>@*10*@
                                    <th>待出库数量</th>@*11*@
                                    <th>移除</th>
                                </tr>
                            </thead>
                            <tbody id="parentTbody">
                                @if (entity.orderDetailList != null && entity.orderDetailList.Count > 0)
                                {
                                    foreach (OrderDetailEntity item in entity.orderDetailList)
                                    {
                                        <tr>
                                            <td>
                                                <input type="hidden" value="@item.GoodsID" class="form-control">
                                                <input type="hidden" value="@item.InventoryID" class="form-control">
                                                <input type="hidden" id="ID" name="ID" value="@item.ID" class="form-control">
                                            </td>
                                            <td><input type="hidden" id="CustomerName" name="CustomerName" value="@(item.goods!=null&&item.goods.customer!=null?item.goods.customer.CustomerName:"")" class="form-control">@(item.goods != null && item.goods.customer != null ? item.goods.customer.CustomerName : "")</td>
                                            <td><input type="hidden" value="@item.GoodsName" class="form-control ">@item.GoodsName</td>
                                            <td><input type="hidden" value="@item.ExceedDate.ToShortDateString()" class="form-control ">@item.ExceedDate.ToShortDateString()</td>

                                            <td><input type="text" style="width:120px" value="@item.BatchNumber" class="form-control "></td>
                                            <td><input type="text" value="@item.ProductDate.ToShortDateString()" style="width:120px" onclick="WdatePicker({dateFmt:yyyy-MM-dd})" class="form-control "></td>
                                            <td><input type="text" style="width:120px" name="txt_Count" onblur="CalculateTotalQuantity()" value="@item.Quantity" class="form-control "></td>

                                            <td><input type="hidden" value="@item.Units" class="form-control ">@item.Units</td>
                                            <td><input type="hidden" value="@item.Weight" class="form-control ">@item.Weight</td>
                                            <td><input type="hidden" value="@item.TotalWeight" class="form-control ">@item.TotalWeight</td>
                                            <td><input type="hidden" value="0" class="form-control">0</td>
                                            <td><input type="hidden" value="0" class="form-control">0</td>
                                            <td><span style="cursor:pointer" onclick="delTr(this,@item.ID)">移除</span></td>
                                         </tr>
                                     }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
            <div class="widget-footer">
                <button class="btn btn-primary" type="button" id="coumpLayer_price">计算价格</button>
                <button class="btn btn-primary" type="button"  id="select_goods">选择商品</button>
                @*<button class="btn btn-primary" type="button" id="coumpLayer_count">计算数量</button>*@
                <button class="btn btn-primary" type="button" style=" float: right;margin-left: 10px;" id="goback">返回</button>
                <button class="btn btn-primary" type="button" style=" float: right;" id="save">@ViewBag.ButtonName</button>
                <b>数量合计：</b><input type="text" id="TotalCount" name="TotalCount" value="0" readonly="readonly" style="width:100px" />
                <input class="" type="text" style="width:120px;float: right;" readonly="readonly"  placeholder="订单编号" id="OrderNo" name="OrderNo" value='@(string.IsNullOrEmpty(entity.OrderNo) ? DateTime.Now.ToString("yyyyMMddhhfff") : entity.OrderNo)' maxlength=" 200">
            </div>

        </div>
    </form>

</div>
<div class="window-mask" style="display:none"></div>
<div id="imgContainer" style="z-index:999;display:none">
    <div class="row-fluid" style="margin-top:30px">
        <div class="widget widget-padding span12">
            <div class="widget-header">
                <div class="widget-buttons">
                    <a href="javascript:void(0)" id="closeDeal"><i class="icon-remove"></i>关闭</a>
                </div>
            </div>
            <div class="widget-body" id="imgshow" style="text-align: center;"></div>
        </div>
    </div>
</div>
<!--计算价格弹窗-->
<div class="coumpLayer" style="display: none;">
    <div class="coumpLayer_t">
        <div class="coumpLayerItem">
            <p>配送方式</p>
            <select class="psType form-control">
                @*<option value="full">整车</option>*@
            </select>
        </div>
        <div class="coumpLayerItem" style="margin: 0 15px;">
            <p>温区</p>
            <select class="wqType form-control">
                @*<option value="01">常温</option>*@
            </select>
        </div>
        <div class="coumpLayerItem">
            <p>其他</p>
            <select class="other form-control">
                @*<option>17.5</option><option>12.5米</option><option>17.5米</option>*@
            </select>
        </div>
    </div>
    <div class="coumpClickDiv">
        <div class="coumpLayer_sure">计算</div>
        <div class="coumpLayer_back">取消</div>
    </div>
</div>
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="~/source/Order/inputOrder.js?@DateTime.Now.ToShortDateString()"></script>
<script src="~/source/layui/layui.js"></script>


<script>
    $(document).ready(function () {
        orderInfo.init();
    });

    layui.use('laydate', function () {

        var laydate = layui.laydate;
        laydate.render({
            elem: '#OrderDate' //指定元素
        });
        laydate.render({
            elem: '#SendDate' //指定元素
        });
    });
    function CalculateTotalQuantity() {
        var totalCount = 0;
        $("input[name='txt_Count']").each(function () {
            totalCount += parseInt($(this).val());
        })
        $("#TotalCount").val(totalCount)
    }
</script>
}