@using Entity.ViewModel;
@using Common;
@{
    ViewBag.Title = ViewBag.TitleName;
    List<OrderEntity> orderList = (List<OrderEntity>)ViewBag.OrderList;
    List<BaseDataEntity> PriceSetModel = ((List<BaseDataEntity>)ViewBag.PriceSetModel) ?? new List<BaseDataEntity>();

    List<StorageEntity> storages = (List<StorageEntity>)ViewBag.Storage;
    List<CarrierEntity> carriers = (List<CarrierEntity>)ViewBag.Carrier;
    List<CustomerEntity> customers = (List<CustomerEntity>)ViewBag.Customer;

    PagerInfo p = (PagerInfo)ViewBag.Pager;
}
<link href="~/source/assets/css/queryItem.css" rel="stylesheet" />
<link href="~/source/assets/css/comfirm.css" rel="stylesheet" />
<link href="~/source/assets/css/viewer.min.css" rel="stylesheet" />
<link href="~/source/assets/css/img.css" rel="stylesheet" />

<div class="row-fluid">
    <h2 class="heading" style="margin-top:20px">@ViewBag.TitleName</h2>
</div>
<div class="row-fluid">
    <div class="widget widget-padding span12">
        <div class="widget-header">
            <i class="icon-laptop"></i>
            <h5>@ViewBag.TitleName</h5>
        </div>
        <div class="widget-body" style="margin-bottom:50px">
            <div id="menus_wrapper" class="dataTables_wrapper form-inline" role="grid">
                <div class="row-fluid">
                    <div class="">
                        <form action="/Order/OrderSearch_Modify" method="get">
                            <div class="dataTables_length" id="menus_filter">
                                <label>
                                    <select tabindex="1" class="" style="width:200px" id="storageid" name="storageid">
                                        <option value="">--请选择出库仓--</option>
                                        @foreach (var item in storages)
                                        {
                                            <option value="@item.StorageID" @(item.StorageID == ViewBag.storageid ? "selected" : "")>@item.StorageName</option>
                                        }
                                    </select>
                                </label>
                                <label>
                                    <select tabindex="1" class="" style="width: 200px" id="carrierid" name="carrierid">
                                        <option value="">--请选择承运商--</option>
                                        @foreach (var item in carriers)
                                        {
                                            <option value="@item.CarrierID" @(item.CarrierID == ViewBag.carrierid ? "selected" : "")>@item.CarrierName</option>
                                        }
                                    </select>
                                </label>
                                <label>
                                    <select tabindex="1" class="" style="width: 200px" id="customerid" name="customerid">
                                        <option value="">--请选择客户--</option>
                                        @foreach (var item in customers)
                                        {
                                            <option value="@item.CustomerID" @(item.CustomerID == ViewBag.customerid ? "selected" : "")>@item.CustomerName</option>
                                        }
                                    </select>
                                </label>
                                @*<label>
                                    订单状态: <select class="span3" style="width:150px" id="status" name="status">
                                        <option value="-1" @(ViewBag.Status == -1 ? "selected" : "")>全部</option>
                                        <option value="1" @(ViewBag.Status == 1 ? "selected" : "")>可用</option>
                                        <option value="0" @(ViewBag.Status == 0 ? "selected" : "")>不可用</option>
                                    </select>
                                </label>*@
                                <label>
                                    <select tabindex="1" class="" style="width: 65px" id="pageSize" name="pageSize">
                                        <option value="10" @(ViewBag.PageSize == 10 ? "selected" : "")>10条</option>
                                        <option value="20" @(ViewBag.PageSize == 20 ? "selected" : "")>20条</option>
                                        <option value="30" @(ViewBag.PageSize == 30 ? "selected" : "")>30条</option>
                                        <option value="40" @(ViewBag.PageSize == 40 ? "selected" : "")>40条</option>
                                        <option value="50" @(ViewBag.PageSize == 50 ? "selected" : "")>50条</option>
                                    </select>
                                </label>
                                <button class="btn btn-info" type="submit">搜索</button>
                                <label>
                                    <input type="checkbox" id="chk_all" value="-1" />全选
                                </label>
                                <button class="btn btn-info" type="button" id="download_SHD">下载送货单</button>
                            </div>
                        </form>
                    </div>
                </div>
                @if (orderList != null && orderList.Count > 0)
{
    <div class="lcQueryItem">
        @foreach (OrderEntity entity in orderList)
{

    <div class="lcItem" dataid="@entity.OrderID" storageid="23">
        <div class="lcItem_t">
            <div class="lcCheckDiv">
                <input type="checkbox" class="checkbox" name="chk_name" value="@(entity.OrderID+"-"+entity.IsImport)" />
            </div>
            <div class="lcItem_t_l">
                <div class="lcDivList">
                    <div>
                        <p>订单编号</p>
                        <h5>@entity.OrderNo</h5>
                    </div>
                    <div>
                        <p>下单时间</p>
                        <h5>@entity.OrderDate</h5>
                    </div>
                    <div>
                        <p>送货时间</p>
                        <h5>@entity.SendDate.ToShortDateString()</h5>
                    </div>
                </div>


                <div class="lcDivList">
                    <div title="@entity.contact.name">
                        <p>收货方</p>
                        <h5>@entity.contact.name</h5>
                    </div>
                    <div>
                        <p>收货人</p>
                        <h5>@entity.contact.contact</h5>
                    </div>
                    <div title="联系方式：@entity.contact.telephone">
                        <p>联系方式</p>
                        <h5>@entity.contact.telephone</h5>
                    </div>
                </div>
                <div class="lcDivList">
                    <div title="@entity.contact.address">
                        <p>配送地址</p>
                        <h5>@entity.contact.address</h5>
                    </div>
                    <div title="@entity.carrier.CarrierName">
                        <p>承运商</p>
                        <h5>@entity.carrier.CarrierName</h5>
                    </div>
                </div>


                <div class="lcDivList">
                    <div title="@entity.Remark">
                        <p>备注</p>
                        <h5>@entity.Remark</h5>
                    </div>
                    <div>
                        <p>温区</p>
                        <h5>@entity.TempType</h5>
                    </div>
                    <div>
                        <p>订单属性</p>
                        <h5>@entity.OrderTypeDesc</h5>
                    </div>
                </div>
                <div class="lcDivList">
                    <div>
                        <p>合并编号</p>
                        <h5>@entity.MergeNo</h5>
                    </div>
                    <div>
                        <p>制单人</p>
                        <h5>@(entity.user != null ? entity.user.UserName : "")</h5>
                    </div>
                    <div title="2019-05-15 17:31:11">
                        <p>制单时间</p>
                        <h5>@entity.OrderDate</h5>
                    </div>
                </div>
            </div>
            <div class="lcItem_t_r">
                <div class="lcItem_t_r_l">
                    <div>
                        <p>订单归属</p>
                        <h5>@(entity.customer != null ? entity.customer.CustomerName : "")</h5>
                    </div>
                    <div>
                        <p>发货仓库</p>
                        <h5>@(entity.sendstorage != null ? entity.sendstorage.StorageName : "")</h5>
                    </div>
                    <div>
                        <p>订单状态</p>
                        <h5>@(entity.OrderStatusDesc + entity.UploadStatusDesc)</h5>
                    </div>
                </div>
                <div class="lcItem_t_r_btnList" style="width: 270px;">
                    <div class="showDiv" isok="true">
                        订单详情
                    </div>
                    @if (!string.IsNullOrEmpty(entity.AttachmentIDs))
                    {
                        <div class="查看回单" onclick="javascript:showImg('@entity.AttachmentIDs')">
                            查看回单
                        </div>
                    }
                    @if (ViewBag.PageType == "verify")
                    {
                        <div class="showDiv">
                            <a href="/Order/OrderPass?type=@entity.OrderType&orderid=@entity.OrderID" style="color:white">通过</a>
                        </div>
                        <div class="showDiv">
                            <a href="/Order/OrderBack?type=@entity.OrderType&orderid=@entity.OrderID" style="color:white">拒绝</a>
                        </div>
                    }
                    else if (ViewBag.PageType=="modify")
                    { 
                        <div class="mod">
                            <a href="/Order/OrderAdd?type=@entity.OrderType&orderid=@entity.OrderID" style="color:white">修改</a>
                        </div>
                        <div class="del">
                            @*<a href="/Order/OrderDelete?orderid=@entity.OrderID"  style="color:white">删除</a>*@
                            <a href="javascript:delOrder(@entity.OrderID,'@ViewBag.PageType')" style="color:white">删除</a>
                        </div>
                    }
                </div>
            </div>
        </div>


        <div class="lcItem_b">
            <table>
                <thead>
                    <tr>
                        <th>项次</th>
                        <th>商品编号</th>
                        <th>名称</th>
                        <th>规格</th>
                        <th>数量</th>
                        <th>单位</th>
                        <th>重量</th>
                        <th>批次号</th>
                        <th>生产日期</th>
                        <th>到期日期</th>
                    </tr>
                </thead>
                <tbody>
                    @if (entity.orderDetailList != null && entity.orderDetailList.Count > 0)
                    {
                        List<OrderDetailEntity> list = entity.orderDetailList;
                        int j=1;
                        for (int i = 0; i < list.Count; i++)
                        {
                            <tr>
                                <td>@(j++)</td>
                                <td>@list[i].GoodsNo</td>
                                <td>@list[i].GoodsName</td>
                                <td>@list[i].GoodsModel</td>
                                <td>@list[i].Quantity</td>
                                <td>@list[i].Units</td>
                                <td>@list[i].TotalWeight</td>
                                <td>@list[i].BatchNumber</td>
                                <td>@list[i].ProductDate.ToShortDateString()</td>
                                <td>@list[i].ExceedDate.ToShortDateString()</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="lcItem_b_b">
                <div class="lcItem_b_bDivItem">
                    <div>
                        运费应收:
                        <span>@entity.configPrice</span>
                    </div>
                    <div>
                        装卸应收:
                        <span>@entity.configHandInAmt</span>
                    </div>
                    <div>
                        分拣应收:
                        <span>@entity.configSortPrice</span>
                    </div>
                    <div>
                        运费应付:
                        <span>@entity.configCosting</span>
                    </div>
                    <div>
                        装卸应付:
                        <span>@entity.configHandOutAmt</span>
                    </div>
                    <div>
                        分拣应付:
                        <span>@entity.configSortCosting</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
    </div>
}

                @{ Html.RenderPartial("../Pager", p); }
            </div>
        </div> <!-- /widget-body -->
    </div> <!-- /widget -->
</div>

<!--图片的弹窗-->
<div class="docs-pictures clearfix" id="div_showImage">

</div>
@section Footer{
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput.js"></script>
<script type="text/javascript" src="~/source/bootstrap-fileinput/js/fileinput_locale_zh.js"></script>
<script type="text/javascript" src="~/source/Order/SearchOrder.js?@(DateTime.Now.ToShortDateString())"></script>
<script type="text/javascript" src="~/source/assets/js/viewer-jquery.min.js"></script>
<script>
    $(document).ready(function () {
        orderInfo.init();        
    });
    function delOrder(id,type) {
        if (confirm("确定删除订单?")) {
            window.location.href = "/Order/OrderDelete?orderid=" + id + "&type=" + type;
        }
    }
    $("#chk_all").click(function () {
        //全选,设置chheckbox name='all' tbody id=tb
        $("input[name=chk_name]").each(function () {
            $(this).prop('checked', $(this).is(':checked') ? false : true);
        });
    });
</script>

}